
.vscode/settings.json
allSounds/tom-short.wav
allSounds/kick-electro02.wav
allSounds/kick-electro01.wav
allSounds/kick-floppy.wav
allSounds/kick-gritty.wav
allSounds/kick-newwave.wav
allSounds/kick-oldschool.wav
allSounds/kick-plain.wav
allSounds/kick-slapback.wav
allSounds/kick-stomp.wav
allSounds/kick-tape.wav
allSounds/kick-thump.wav
allSounds/kick-tight.wav
allSounds/kick-tron.wav
allSounds/kick-vinyl01.wav
allSounds/kick-vinyl02.wav
allSounds/kick-zapper.wav
allSounds/kick-dry.wav
allSounds/kick-cultivator.wav
allSounds/kick-big.wav
allSounds/kick-acoustic02.wav
allSounds/kick-acoustic01.wav
allSounds/shaker-analog.wav
allSounds/shaker-shuffle.wav
allSounds/shaker-suckup.wav
allSounds/snare-acoustic02.wav
allSounds/snare-analog.wav
allSounds/snare-block.wav
allSounds/snare-brute.wav
allSounds/snare-dist01.wav
allSounds/snare-dist02.wav
allSounds/snare-dist03.wav
allSounds/snare-electro.wav
allSounds/snare-lofi02.wav
allSounds/snare-modular.wav
allSounds/snare-noise.wav
allSounds/snare-pinch.wav
allSounds/snare-smasher.wav
allSounds/snare-sumo.wav
allSounds/snare-tape.wav
allSounds/snare-vinyl01.wav
allSounds/snare-vinyl02.wav
allSounds/clap-808.wav
allSounds/clap-crushed.wav
allSounds/clap-analog.wav
allSounds/clap-fat.wav
allSounds/clap-slapper.wav
allSounds/clap-tape.wav
allSounds/cowbell-808.wav
allSounds/crash-808.wav
allSounds/crash-acoustic.wav
allSounds/crash-noise.wav
allSounds/crash-tape.wav
allSounds/tom-rototom.wav
allSounds/tom-lofi.wav
allSounds/tom-fm.wav
allSounds/tom-chiptune.wav
allSounds/tom-analog.wav
allSounds/tom-acoustic02.wav
allSounds/tom-acoustic01.wav
allSounds/tom-808.wav
allSounds/perc-tribal.wav
allSounds/perc-tambo.wav
allSounds/perc-short.wav
allSounds/perc-nasty.wav
allSounds/perc-metal.wav
allSounds/perc-laser.wav
allSounds/perc-hollow.wav
allSounds/perc-chirpy.wav
allSounds/perc-808.wav
allSounds/hihat-acoustic02.wav
allSounds/hihat-analog.wav
allSounds/hihat-digital.wav
allSounds/hihat-dist01.wav
allSounds/hihat-dist02.wav
allSounds/hihat-reso.wav
